@model IEnumerable<VirtualShop.Models.Book>

@{
    ViewBag.Title = "Libros para todos";
}

<div class="jumbotron" style="background-image: url('/Content/Images/jumbotron-getstarted.jpg');">
    <h1 style="color:cadetblue">Libros para todos</h1>
    <p class="lead">Venta de libros.</p>
</div>

@{
    int books = 0;

    foreach (var item in Model)
    {
        if ((books % 3) == 0)
        {
            if (books > 0)
            {
                @Html.Raw(String.Format("</div><br/>"))
            }

            @Html.Raw(String.Format("<div class=\"row\">"))
        }

        <div class="col-md-4 text-center">
            <img alt="@Html.DisplayFor(modelItem => item.name)" src="~/Content/Images/@Html.DisplayFor(modelItem => item.image)" class="center-block img-rounded" style="width: 100%; height: 600px;" /><br /><br />
            @Html.ActionLink("Añadir al Carrito", "AddToCart", "Cart", new { book = item.Id, price = item.price }, null)
            <h2 style="text-transform: uppercase">@Html.DisplayFor(modelItem => item.name)</h2>
            <p><strong>Precio: </strong>@Html.DisplayFor(modelItem => item.price)€</p>
            <p><strong>ISBN: </strong>@Html.DisplayFor(modelItem => item.isbn)</p>
            <p><strong>Páginas: </strong>@Html.DisplayFor(modelItem => item.pages)</p>
            <p><strong>Idioma: </strong>@Html.DisplayFor(modelItem => item.language)</p>
        </div>

        if (books + 1 == Model.Count())
        {
            @Html.Raw(String.Format("</div>"))
        }

        books++;
    }
}